.bodypage{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1{
    color: red;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1em;
}


form{
    div{
        *{
            display: block;
        }

    }
}

}